/*Fonte Google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Estiliza aplicada a todo o site*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.box-dos-contentores{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center; /*centro vertical da div*/
    justify-content: center; /*centro horizontal da div*/
    background-color: #efefef;
}

.blog-slider{
    max-width: 1120px;
    width: 100%;
    padding: 40px;
}

.conteudo-do-blogslider{
    margin: 0 40px;
}

.seccao-dos-cartoes{
    display: flex; 
    gap: 40px;
}

.cartao{
    width: 320px;;
    border-radius: 25px;
    background-color: #fff;
}

.conteudo-da-imagem,
.conteudo-do-cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.conteudo-da-imagem{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.imagem-do-cartao{
    position: relative;
    height: 150px;
    width: 240px;
    border-radius: 25px;
    padding: 3px;
}

.imagem-do-cartao .imagem-cartao{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.titulo-do-cartao{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.lead-da-noticia{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.botao-de-ver-mais-blog{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-de-ver-mais-blog:hover{
    background: #265df2;
}

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}


/*Footer*/

footer{
    width: 100%;
    letter-spacing: 1px;
    color: var(--color-neutral-40);
}

.conteudo-do-footer{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer-contactos h1{
    margin-bottom: 0.75rem;
}

.footer-rede-sociais{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-rede-sociais {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-link:hover{
    opacity: 0.8;
}

.footer-link i{
    font-size: 1.25rem;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.lista-do-footer{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-link{
    color: var(--color-neutral-30);
}

.footer-link:hover{
    color: #4070F4;
}

.footer-newsletter{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-newsletter p{
    color: var(--color-neutral-30);
}

.inputnewsletter{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-40);
    border-radius: 4px;
}

.inputnewsletter input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.inputnewsletter button{
    background-color: #4070F4;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

.inputnewsletter button:hover{
    opacity: 0.8s;
}

.footer-copyright{
    color: var(--color-neutral-40);
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .conteudo-do-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;«
    }
}

@media screen and (max-width: 426px) {
    .conteudo-do-footer{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

/*Footer*/