/*Fonte Google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Estiliza aplicada a todo o site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{ /*Depois talvez mudar para .blog-slider*/
    min-height: 100vh;
    display: flex;
    align-items: center; /*centro vertical da div*/
    justify-content: center; /*centro horizontal da div*/
    background-color: #efefef;
}


.blog-slider{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px;
}

.conteudo-do-blogslider{
    margin: 0 40px;
}

.cartao{
    width: 320px;;
    border-radius: 25px;
    background-color: #fff;
}

.conteudo-da-imagem,
.conteudo-do-cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.conteudo-da-imagem{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.imagem-do-cartao{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.imagem-do-cartao .imagem-cartao{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%; /*Define a imagem como redonda*/
    border: 4px solid #4070F4;
}

.titulo-do-cartao{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.lead-da-noticia{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.botao-de-ver-mais-blog{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-de-ver-mais-blog:hover{
    background: #265df2;
}